body{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows:33% 10% 57%;
  background-color: #e2d6be;
}

#texte {
  grid-column : 1  ;
  grid-row:1 / span 3 ;
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  margin-left: 10%;
  margin-right: 10%;
}

#score{
  grid-column : 2 ;
  grid-row: 1;
  font-size: 3em;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

#hall{
    font-size: 1.5em;
}

#tabscore{
  border: solid 2px;
  padding-left: 5%;
  margin-left: 20%;
  margin-right: 30%;
  margin-bottom: 10%
}

#picture{
  grid-column : 2 ;
  grid-row: 3;

}
#imag{
  margin-left: : 50%;
  margin-right: 50%;
 width: 50%;

}

h1{
  text-align: center;
}
